{% extends "layout.html" %}
{{ super() }}

{% block body %}
{{ super() }}

<form action="" method="post" enctype="multipart/form-data">
	{% if allowed_conversion_keys %}
    <p>Please select your desired output here:</p>
	{% for subfield in form2.output %}
		{% if subfield.data in allowed_conversion_keys %}
			<p>{{ subfield }} {{ subfield.label }}</p>
		{% endif %}
	{% endfor %}
	<p><input type="submit" name="convert" value="Convert!"></p>
	{% else %}
	<p>You have uploaded too many formats! There is nothing to convert to.</p>
	{% endif %}
    <p>&nbsp;</p>
    <p><input type="submit" name="home" value="Start Again"></p>
</form>

{% endblock %}