{% extends "layout.html" %}
{{ super() }}

{% block body %}
{{ super() }}

<form action="" method="post" enctype="multipart/form-data">
	{{ form1.csrf_token }}
	<p>Please upload your caption file(s) here:</p>
	<p>{{ form1.upload(multiple="") }}</p>
	<input type="submit" name="btn" value="Upload">
</form>

{% endblock %}