<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Caption Converter</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block body %}
            <h1>Caption Converter</h1>
        {% endblock %}
    </body>
</html>